<!-- detail.html-->

<div class="carousel-item">
    <img class="w-100 h-100" src="img/product-2.jpg" alt="Image">
</div>
<div class="carousel-item">
    <img class="w-100 h-100" src="img/product-3.jpg" alt="Image">
</div>
<div class="carousel-item">
    <img class="w-100 h-100" src="img/product-4.jpg" alt="Image">
</div>
<small>({{one_product.category}})</small>

<!-- base without search-->
 
<div class="col-lg-8 col-6 text-right">
    <p class="m-0">Customer Service</p>
    <h5 class="m-0">+972 594 073 606</h5>
</div>